include support/install_xpans_nssm.bat
include support/nssm.exe
include support/open_fits_ds9.bat
include support/open_mef_ds9.bat
include support/set_ds9_default_fits.bat
include support/set_ds9_default_mef.bat
include support/start_ds9.bat
include support/start_xpans_nssm.bat
include support/stop_xpans_nssm.bat
include support/uninstall_xpans_nssm.bat
